.cano {
    width:150px;
    height:200px;
    margin-left:3px;
    marign-right:3px;
}
.kuma {
    width:150px;
    height:200px;
    margin-left:3px;
    margin-right:3px;
}
.kuma1 {
    width:5000px;
    height:200px;
    margin-left:3px;
    margin-right:3px;
}
.cano1 {
    width:240px;
    height:200px;
    margin-left:3px;
    margin-right:3px;
}
.select {
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
}
.photo-container {
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}
