.cano {
    width:150px;
    height:200px;
    margin-left:3px;
    marign-right:3px;
}
.Kuma {
    width:150px;
    height:200px;
    margin-left:3px;
    margin-right:3px;
}
.Kuma1 {
    width:280px;
    height:200px;
    margin-left:3px;
    margin-right:3px;
}
.cano1 {
    width:240px;
    height:200px;
    margin-left:3px;
    margin-right:3px;
}
.select {
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
}
.photo-container {
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}
.whole {
    background-color:rgba(175,125,0,50%);
}
.big {
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
}
